<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb492008439626331</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.495032594798-dfrrlt0oj2jvadp6easj2t44qebebkic</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>492008439626331</string>
	<key>FacebookClientToken</key>
	<string>9e2a996807601cd79b5ced41e7c2d3e8</string>
	<key>FacebookDisplayName</key>
	<string>test app</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
